# BSC_RPC_URL=https://bsc-mainnet.infura.io/v3/{key}
# BSC_RPC_URL=https://56.rpc.thirdweb.com
BSC_RPC_URL=https://api.zan.top/node/v1/bsc/mainnet/{key}
ROTATION_BSC_RPC_URLS=
BSC_WEBSOCKET_RPC_URL=
# BSC_RPC_URL=http://127.0.0.1:8545
BLOCK_NUMBER=
BSC_SCAN_API_KEY=
WALLET_PRIVATE_KEY=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=myredispassword

MONGO_URI=mongodb://mongouser:mongopassword@localhost:27017

SUBGRAPH_API_KEY=

AAVE_FLASH_LOAN_ADDRESS=0xff75B6da14FfbbfD355Daf7a2731456b3562Ba6D

QUOTE_ADDRESS=0x7A4a47d49F568c18543E93d4FA6880126114cb73

V3_QUOTER_ADDRESS=0xa18a7380C32889F3F2581FB95FA2AD20080e8bbE
V3_ARBITRAGE_QUOTER_ADDRESS=0xD428192F83BD38ACd658904d4ecDB468C292f55C
V3_FLASH_LOAN_ARBITRAGE_ADDRESS=0x3A39a80ccBB9f23127017808112c0F53A08E3cbE

DEBUG=true